{% extends "template.html" %}

{% block main %}

    <section class="card m-5">
        <header class="card-header">
            <h3>Editar Forma de Pagamento</h3>
        </header>
        <div class="card-body">
            <form action="/forma_pagamento/atualizar" method="post">
                <input type="hidden" name="id" value={{forma_pagamento.id}}> 
                <div class="form-group">
                    <label>Descriçao</label>
                    <input type="text" name="descricao" value="{{forma_pagamento.descricao}}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div><!-- card-body -->
    </section><!-- card-->

   
{% endblock %}